geometry : LHCb
pid : LHCbGenericPID
paramsDecaying : M, P, PT, PX, PY, PZ
paramsStable : M, P, PT, PX, PY, PZ, ProbNNk, ProbNNpi
paramsTwoBody : M2
@0
	name : B
@1
	name : D2b
@2
	name : D4b
@3
	name : BK
	smear : LHCbGeneric
	altMass : pi+
@4
	name :  D2bK
	smear : LHCbGeneric
@5
	name :  D2bH
	smear : LHCbGeneric
@6
	name :  D4bK
	smear : LHCbGeneric
@7
	name : D4bH
	smear : LHCbGeneric
@8
	name : D4bHp
	smear : LHCbGeneric
@9
	name : D4bHm
	smear : LHCbGeneric
