geometry : LHCb
pid : LHCbGenericPID
paramsDecaying : M, P, PT, PX, PY, PZ
paramsStable : M, P, PT, PX, PY, PZ, ProbNNk, ProbNNpi
paramsTwoBody : M2
@0
	name : B
@1
	name : D1
@2
	name : D2
@3
	name : BK
	smear : LHCbGeneric
	altMass : pi+
@4
	name : D1K
	smear : LHCbGeneric
@5
	name : D1H
	smear : LHCbGeneric
@6
	name : D1h
	smear : LHCbGeneric
@7
	name : D2K
	smear : LHCbGeneric
@8
	name : D2H
	smear : LHCbGeneric
@9
	name : D2h
	smear : LHCbGeneric
